//vendor
@import "vendor/bootstrap4.6/bootstrap.scss";
//abstract
@import "abstracts/variables";
//bases
@import "bases/reset";
@import "bases/typoghraphy";
//components
@import "components/butons";
//layout
@import "layout/mostly_fluid";
@import "layout/header";
@import "layout/aside";
@import "layout/navegation";
@import "layout/footer";
@import "layout/section";
//pages
@import "pages/index";
//themes
//@import "themes";