//link fuentes 
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');
//colores
$white: #FFF;
$Isabelline: #ECECEC;
$light-gray: #D1D1D1;
$smoky-glass:#0C0910;
$granite-gray:#646266;
$quick-silver: #A6A5A8;
//fuentes 
$oldstandard: 'Old Standard TT',
serif;
$oldstandard-regular: 400;
$oldstandard-bold:700;
$raleway: 'Raleway',
sans-serif;
$raleway-regular: 400;
$raleway-bold:700;