       .aside {
           width: 100%;
           background-image: url("../../assets/img/imagen1.png");
           background-repeat: no-repeat;
           background-size: cover;
       }
       
       @media only screen and (max-width: 768px) {
           .aside {
               height: 300px;
               background-position: 75% 25%;
               background-size: cover;
           }
       }
       
       @media only screen and (max-width: 576px) {
           .aside {
               height: 230px;
               background-repeat: no-repeat;
               background-size: cover;
               background-position: center top;
           }
       }