        @media only screen and (max-width:1180px) {
            .aside {
                &__img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        @media only screen and (max-width: 576px) {
            .aside {
                &__img {
                    width: 100%;
                    height: 40%;
                }
            }
        }
        
        @media only screen and (max-width: 768px) {
            .aside {
                &__img {
                    width: 100%;
                    height: 40%;
                }
            }
        }