.footer {
    background-color: $smoky-glass;
    color: $white;
    margin-right: 0;
}

.foot {
    &__text {
        font-family: $secondary-font;
        font-weight: 700;
        font-size: xx-large;
        padding-top: 20px;
    }
    &__email {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: large;
    }
    &__correo {
        font-family: $primary-font;
        font-weight: 700;
        font-size: medium;
        border-radius: 0;
    }
}

@media only screen and (max-width:1180px) {
    .footer {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px) {
    .footer {
        width: 80%;
        height: 40%;
        margin-right: 0;
    }
    .container {
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        width: 80%;
        height: 40%;
        margin-right: 0;
    }
}