@media only screen and (min-width:1200px) {
    .container-mostly-fluid {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 0.03fr 1.1fr;
        grid-template-rows: 0.7fr 3fr 0.5fr;
        grid-template-areas: "nav nav  nav" "section section aside" "footer article aside";
    }
    header {
        grid-area: nav;
    }
    aside {
        grid-area: aside;
    }
    section {
        grid-area: section;
    }
    footer {
        grid-area: footer;
    }
    article {
        grid-area: article;
    }
}

@media only screen and (max-width: 768px) {
    .container-mostly-fluid,
    {
        grid-template-columns: 3fr 0.5fr;
        grid-template-rows: 0.7fr 3fr 4fr 1fr;
        grid-template-areas: "nav nav" "aside aside " "section section " "footer article ";
    }
}

@media only screen and (max-width: 576px) {
    .container-mostly-fluid,
    {
        grid-template-columns: 3fr 0.5fr;
        grid-template-rows: 0.7fr 3fr 4fr 1fr;
        grid-template-areas: "nav nav " "aside aside " "section section " "footer article ";
    }
}