.container {
    box-sizing: content-box;
    width: 50%;
    right: 60%;
    text-align: left;
    margin-left: 40px;
    padding-bottom: 30px;
    padding-top: 40px;
}

@media only screen and (max-width: 576px) {
    .container {
        width: 52%;
        right: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 65%;
        right: 65%;
    }
}

.section {
    &__1 {
        font-family: $secondary-font;
        font-size: 50px;
        font-weight: 700;
        color: $smoky_glass;
        text-transform: uppercase;
        line-height: 1;
    }
    &__2 {
        font-family: $primary-font;
        font-size: large;
        font-weight: 400;
        color: $smoky_glass;
        line-height: 1.7;
        text-align: left;
    }
}